body {
  background-color: green;
}

.message {
  color: white;
  background-color: black;
  padding: 5px 15px;
  border-radius: 3px;
}

.otherMsg {
  background-color: tomato;
}

#chat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message-list {
  width: 50vw;
  background: gray;
}