:root {
  --message-list-color: lightgray;
  --chat-wrapper-color: rgb(122, 122, 122);
  --text-input-border-color: darkslategray;
  --text-input-background-color: rgb(82, 82, 82);;
}
* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

form {
  margin: 0;
}

body {
  /* width: 100vw; */
  /* height: 100vh; */
  margin: 0;
}

.message {
  color: black;
  background-color: white;
  padding: 5px 15px;
  max-width: 300px;
  word-wrap: break-word;
  width: max-content;
  margin: 2px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  /* white-space: pre-line; keep line breaks from text-area input */
}

.message-wrapper {
  display: flex;
}

.message-wrapper__outer.self-message {
  justify-content: flex-end;
}

.message.other-message {
  background-color: royalblue;
  color:white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}

#chat-wrapper {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* height: 100%; */
  background-color: var(--chat-wrapper-color);
}

#message-list {
  width: 50vw;
  background: var(--message-list-color);
  padding: 15px;
  /* flex-grow: 1; */
  min-height: calc(100vh - 50px);
  /* height: 100%; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#input-text {
  font-size: 1rem;
  width: 100%;
  padding: 15px;
  word-break: break-word;
  resize: none;
  font-family: inherit;
  border: none;
  margin: 0;
  margin-left: 0px;
  border-left: 2px solid var(--text-input-border-color);
  transition: margin-left 500ms;
  /* text-align: center; */
}

/* #input-text.to-right {
  margin-left: 150px;
} */

#chat-placeholder {
  text-align: center;
  color: #2d2d2d;
}

#input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--text-input-background-color);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  height: 50px;
}

#input-wrapper input[type=text] {
  background: var(--text-input-background-color);
}

#input-form {
  flex-grow: 1;
}

#username-box {
  display: flex;
  width: 100%;
  align-items: center;
}
.message-wrapper__inner {
  display: flex;
  flex-direction: column;
}

.message-wrapper__inner {
  display: flex;
  flex-direction: column;
}

.message-wrapper__inner.self-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.username {
  margin: 15px 5px 0px 5px;
  font-weight: bold;
}

.delay-show {
  visibility: hidden;
}

.timestamp {
  font-size: smaller;
  font-style: italic;
  color: #1e1e1e;
  margin-right: 5px;
}

.meta-message {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

#username-button {
  text-align: center;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  background-color: #8a8a8a;
  margin-left: 10px;
}

#username-button:hover {
  background-color: #c4c4c4;
  cursor: pointer;
}

#username-input {
  width: 200px;
  padding: 10px 0px;
  border: none;
  font-weight: bolder;
  font-family: inherit;
  font-size: inherit;
  padding-left: 10px;
  pointer-events: none;
}

#username-input.edit {
  border: 1px solid gray;
  border-radius: 5px;
  pointer-events: all;
}

.hidden {
  display: none;
}


#username-gear {
  font-size: x-large;
  margin: 0px 10px;
}

#username-gear:hover {
  cursor: pointer;
}

#username-form {
  width: 200px;
  transition: all 500ms;
  /* width: max-content; */
}

#username-form.max-width {
  width: 350px;
}

@media only screen and (max-device-width : 1024px) {
  #message-list {
    width: 100%;
  }

  #username-form {
    width: 40px;
  }

  #input-text {
    border-left: none;
  }

  #input-text.to-right {
    margin-left: 100vw;
  }

  /* #username-form.max-width {
    width: 100vw;
    flex-shrink: 0;
  } */
}